---
---

$container-large-desktop: 970px;

$font-family-base: "PT Sans", sans-serif;
$headings-font-weight: 400;

$font-size-base: 16px;
$font-size-h1: floor(($font-size-base * 2.5));
$font-size-h2: floor(($font-size-base * 1.6));
$font-size-h3: floor(($font-size-base * 1.4));
$font-size-h4: floor(($font-size-base * 1.2));
$font-size-h5: floor(($font-size-base * 1));
$font-size-h6: floor(($font-size-base * 1));
$blockquote-font-size: floor(($font-size-base * 1.25));
$line-height-base: 1.5;
$headings-line-height: 1.3;

$grid-gutter-width: 20px;

$color-base: #5F7C8A;
$color-sub: lighten($color-base, 10%);
$color-text: darken($color-base, 50%);
$color-muted: grayscale($color-base);
$color-bg: #fff;
$color-heading: lighten($color-base, 40%);

$space-xs: 5px;
$space-sm: 10px;
$space-md: 20px;
$space-lg: 30px;

@import "bootstrap-sass/bootstrap";

/*———————————–———————————–
  BOOTSTRAP
———————————–———————————–*/

body {
  background-color: $color-bg;
  color: $color-text;
}
header,
footer {
  font-size: $font-size-base + 1;
}
header {
  padding: $space-md 0 $space-lg;
}
footer {
  padding: $space-md 0 ($space-md * 3);
}
h1, h2, h3, h4, h5, h6,
.panel-title,
.app-contact {
  color: $color-base;
}
h1 {
  margin-top: 0;
}
h2 {
  text-align: center;
  + * {
    margin-top: $space-lg;
  }
}
h3 {
  margin: 0;
}
ul {
  padding-left: $space-md;
}
pre {
  margin: $space-md 0;
}
a {
  color: $color-base;
  &:hover {
    color: $color-sub;
  }
}

/*———————————–———————————–
  CLASSES
———————————–———————————–*/

.panel {
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  border: none;
}
.panel-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
.btn {
  font-size: $font-size-base;
}
.btn-primary {
  @include button-variant(#fff, $color-base, darken($color-base, 10%));
}

/*———————————–———————————–
  STYLES
———————————–———————————–*/

.panel {
  overflow: hidden;
}
.apps {
  padding-top: $space-md * 2;
  padding-bottom: $space-md;
  .row + .row {
    padding-top: $space-md;
    margin: 0;
  }
}
.app-info {
  margin: 0;
}
.app-image {
  padding-bottom: 15px;
}
.app-image > img  {
  height: auto;
}
.app-image .app-store-link {
  display: block;
  width: 133px;
  height: 38px;
  margin: auto;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
}
.app-image .app-store-link img {
  height: 100%;
  width: 100%;
}
.app-description a {
  text-decoration: underline;
}
.app-creator-image img {
  width: 100%;
  height: 100%;
}
.app-creator-bio {
  margin: $space-xs 0 $space-sm;
  color: $color-sub;
  font-size: $font-size-base;
}
@media (min-width: $screen-xs-max+1) {
  .app-info {
    height: 200px;
  }
  .app-description {
    padding-right: 15px;
  }
  .app-image, .app-description {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .app-image > img  {
    width: 80%;
    margin-left: 10%;
  }
}
@media (max-width: $screen-xs-max) {
  .apps {
    padding-top: $space-md;
  }
  .app-info {
    min-height: 200px;
  }
  .app-description {
    padding: 0 20px 20px 20px;
  }
  .app-image > img  {
    width: 60%;
    margin-left: 20%;
  }
  .app-description h1 {
    font-size: $font-size-h1*1.4;
    text-align: center;
  }
  .app-description p, .app-description .app-website {
    font-size: $font-size-base*1.4;
    text-align: center;
  }
}

/*———————————–———————————–
  COUNTDOWN
———————————–———————————–*/
.countdown-timer {
  margin: 0 auto;
  width: 355px;
  margin-bottom: 50px;
  text-align: center;
}
.countdown-timer .countdown-container {
  height: 130px;
}
.countdown-timer .time {
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  display: inline-block;
  text-align: center;
  position: relative;
  height: 95px;
  width: 65px;

  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -ms-perspective: 500px;
  -o-perspective: 500px;
  perspective: 500px;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.countdown-timer .count {
  background: #202020;
  color: #f8f8f8;
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 30pt;
  line-height: 71pt;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  top: 0;
  width: 100%;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -ms-transform-style: flat;
  -o-transform-style: flat;
  transform-style: flat;
}
.countdown-timer .count.top {
  border-top: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.1);
  border-radius: 5px 5px 0 0;
  height: 50%;

  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.countdown-timer .count.bottom {
  background-image: linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -moz-linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -ms-linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -o-linear-gradient(rgba(255,255,255,0.1), transparent);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-radius: 0 0 5px 5px;
  line-height: 0;
  height: 50%;
  top: 50%;

  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.countdown-timer .label {
  font-size: normal;
  margin-top: 5px;
  display: block;
  position: absolute;
  top: 95px;
  width: 100%;
  color: #fff;
}
/* Animation start */
.countdown-timer .count.curr.top {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  z-index: 3;
}
.countdown-timer .count.next.bottom {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  z-index: 2;
}
/* Animation end */
.countdown-timer .flip .count.curr.top {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;

  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.countdown-timer .flip .count.next.bottom {
  -webkit-transition: all 250ms ease-in-out 250ms;
  -moz-transition: all 250ms ease-in-out 250ms;
  -ms-transition: all 250ms ease-in-out 250ms;
  -o-transition: all 250ms ease-in-out 250ms;
  transition: all 250ms ease-in-out 250ms;

  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
@media screen and (max-width: 48em) {
  .countdown-timer {
    width: 100%;
  }
  .countdown-timer .countdown-container {
    height: 100px;
  }
  .countdown-timer .time {
      height: 70px;
      width: 48px;
  }
  .countdown-timer .count {
    font-size: 1.5em;
    line-height: 70px;
  }
  .countdown-timer .label {
    font-size: 0.8em;
    top: 72px;
  }
}
.intro-panel {
  background: #000000 url('../img/bg-demo-day.jpg') no-repeat fixed center;
  background-size: cover;
  background-position: center;
}
.intro-panel .intro-text {
  padding: 20px;
  margin-top: 100px;
  font-family: 'PT Sans', sans-serif;
  font-size: 56px;
  color: white;
}
.intro-panel .intro-subtitle {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-bottom: 40px;
}
.rsvp-button-container {
  text-align: center;
  margin-bottom: 150px;
}
